# Byte-compiled / cache
__pycache__/
*.py[cod]
*.so
*.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/

# Jupyter
.ipynb_checkpoints/
.local/

# Data/artifacts
artifacts/
data/

# OS/editor
.DS_Store
Thumbs.db
.idea/
.vscode/

# Secrets
*.key
*.pem
*.env
*.secret
.git-rewrite-map.rules
